# Node
node_modules/
frontend/dist/

# Python
__pycache__/
*.py[cod]
backend/venv/
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Uploads
uploads/
backend/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

docker-compose.yml